.fisherImage{
    z-index: 1;
}
.fisherImageContainer {
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.tintOverlay {
    background-color: #36363678;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.pageBody {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.textOverlay {
    position: absolute; /* Position text on top */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position */
    text-align: left; /* Center text */
    z-index: 3; /* Ensure text is above the overlay */
    white-space: nowrap; /* Prevent wrapping */
    min-width: 100%; /* Ensure minimum width to fit the text */
    margin-left: 1lh;
}

.pageDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* This will distribute the items to fit the sides */
}
/* Media query for smaller screens */
@media (max-width: 750px) {
    .pageDiv {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}

.pageDivLeft {
    background-color: white;
    flex: 1; /* This allows it to take up remaining space */
    min-width: 200px; /* Optional: Minimum width */
    color: black;
    text-align: center;
}

.pageDivRight {
    background-color: #C12222;
    flex: 1; /* This allows it to take up remaining space */
    min-width: 200px; /* Optional: Minimum width */
}

.homepageHeader{
    margin-top: 4rem;
}
.homepageBody {
    text-align: left;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 3rem;
}

.homepageCard {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3rem;
    margin-bottom: 10vh;
    max-height: 20rem;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.homepageCardImage {
    height: 60%; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Ensures the image doesn't overflow the container */
    display: flex; /* Use flex to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.homepageCardImage img {
    max-height: 100%; /* Scale the image down to fit */
    max-width: 100%; /* Scale the image down to fit */
    object-fit: cover; /* Maintain aspect ratio and fill the box */
}